<a href="https://colab.research.google.com/github/prof-rossetti/intro-to-python/blob/main/exercises/csv-processing/CSV_Processing_Examples_with_Financial_Data_(Summer_2023).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Requesting CSV Data from AlphaVantage API

We can process dynamic CSV data provided by an API:

In [40]:
from getpass import getpass

API_KEY = getpass("Please input your API key:") or "demo"

Please input your API key:··········

In [41]:
from pandas import read_csv

# see: https://www.alphavantage.co/documentation/#dailyadj
# ... the datatype=csv URL param gives us data in CSV format, which may be easier to work with

# request_url = "https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol=IBM&apikey=demo&datatype=json"

symbol = "MSFT"
request_url = f"https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol={symbol}&apikey={API_KEY}&datatype=csv"

prices_df = read_csv(request_url)
prices_df.head()

,timestamp,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient
0,2023-06-16,351.320,351.4700,341.95,342.33,342.33,45195839,0.0,1.0
1,2023-06-15,337.480,349.8400,337.20,348.10,348.10,38899075,0.0,1.0
2,2023-06-14,334.340,339.0400,332.81,337.34,337.34,26003791,0.0,1.0
3,2023-06-13,334.465,336.9800,330.39,334.29,334.29,22951279,0.0,1.0
4,2023-06-12,328.580,332.0999,325.16,331.85,331.85,24306753,0.0,1.0

### Plotting Stock Prices

In [42]:
import plotly.express as px

#prices_df["date"] = prices_df.index

px.line(prices_df, x="timestamp", y="adjusted_close", title=f"Adjusted Closing Prices for {symbol}")

## Getting DataFrames from `YahooQuery` Package

In [1]:
# setup cell (run and leave as is)

%%capture

!pip install yahooquery

https://yahooquery.dpguthrie.com/guide/ticker/intro/

In [3]:
# setup cell (run and leave as is)

from yahooquery import Ticker

symbol = "MSFT"
company = Ticker(symbol)

### Exploring Available Datasets

In [ ]:
# dir(company)

In [ ]:
# company.country #> str
# company.asset_profile #> dict
# company.calendar_events #> dict
# company.earnings #> dict
# company.earnings_trend #> dict
# company.esg_scores #> dict
# company.financial_data #> dict
# company.key_stats #> dict
# company.price #> dict
# company.recommendations #> dict of similar stocks and reco scores
# company.summary_detail #> dict
# company.summary_profile #> dict with address and long summary and number of employees
# company.technical_insights #> dict

# company.dividend_history(start="2020-01-01") #> series or df

# company.all_financial_data() #> dataframe
# company.balance_sheet() #> dataframe
# company.cash_flow() #> dataframe
# company.company_officers #> dataframe
# company.corporate_events #> dataframe
# company.corporate_guidance #> dataframe
# company.earning_history #> dataframe
# company.history() #> dataframe of daily prices
# company.income_statement() #> dataframe
# company.news() #> ["error"]
# company.option_chain #> dataframe
# company.recommendation_trend #> df row per period
# company.sec_filings #> dataframe

Dividend history:

In [9]:
company.dividend_history(start="2021-01-01").head()

                   dividends
symbol date
MSFT   2021-02-17       0.56
       2021-05-19       0.56
       2021-08-18       0.56
       2021-11-17       0.62
       2022-02-16       0.62

In [10]:
company.all_financial_data()

,asOfDate,periodType,currencyCode,AccountsPayable,AccountsReceivable,AccumulatedDepreciation,AllowanceForDoubtfulAccountsReceivable,BasicAverageShares,BasicEPS,BeginningCashPosition,...,TotalNonCurrentLiabilitiesNetMinorityInterest,TotalOperatingIncomeAsReported,TotalRevenue,TotalTaxPayable,TotalUnusualItems,TotalUnusualItemsExcludingGoodwill,TradeandOtherPayablesNonCurrent,WorkInProcess,WorkingCapital,WriteOff
symbol,,,,,,,,,,,,,,,,,,,,,
MSFT,2019-06-30,12M,USD,9.382000e+09,2.952400e+10,-3.533000e+10,-411000000.0,7.673000e+09,5.11,1.194600e+10,...,1.148060e+11,4.295900e+10,1.258430e+11,5.665000e+09,7.100000e+08,7.100000e+08,2.961200e+10,53000000.0,1.061320e+11,NaN
MSFT,2020-06-30,12M,USD,1.253000e+10,3.201100e+10,-4.319700e+10,-788000000.0,7.610000e+09,5.82,1.135600e+10,...,1.106970e+11,5.295900e+10,1.430150e+11,2.130000e+09,2.800000e+07,2.800000e+07,2.943200e+10,83000000.0,1.096050e+11,NaN
MSFT,2021-06-30,12M,USD,1.516300e+10,3.804300e+10,-5.135100e+10,-751000000.0,7.547000e+09,8.12,1.357600e+10,...,1.031340e+11,6.991600e+10,1.680880e+11,2.174000e+09,1.303000e+09,1.303000e+09,2.719000e+10,79000000.0,9.574900e+10,NaN
MSFT,2022-06-30,12M,USD,1.900000e+10,4.426100e+10,-5.966000e+10,-633000000.0,7.496000e+09,9.70,1.422400e+10,...,1.032160e+11,8.338300e+10,1.982700e+11,4.067000e+09,3.340000e+08,3.340000e+08,2.606900e+10,82000000.0,7.460200e+10,101000000.0

In [11]:
company.balance_sheet() #> dataframe

,asOfDate,periodType,currencyCode,AccountsPayable,AccountsReceivable,AccumulatedDepreciation,AllowanceForDoubtfulAccountsReceivable,BuildingsAndImprovements,CapitalLeaseObligations,CapitalStock,...,TotalCapitalization,TotalDebt,TotalEquityGrossMinorityInterest,TotalLiabilitiesNetMinorityInterest,TotalNonCurrentAssets,TotalNonCurrentLiabilitiesNetMinorityInterest,TotalTaxPayable,TradeandOtherPayablesNonCurrent,WorkInProcess,WorkingCapital
symbol,,,,,,,,,,,,,,,,,,,,,
MSFT,2019-06-30,12M,USD,9.382000e+09,2.952400e+10,-3.533000e+10,-411000000.0,2.628800e+10,6.188000e+09,7.852000e+10,...,1.689920e+11,7.836600e+10,1.023300e+11,1.842260e+11,1.110040e+11,1.148060e+11,5.665000e+09,2.961200e+10,53000000.0,1.061320e+11
MSFT,2020-06-30,12M,USD,1.253000e+10,3.201100e+10,-4.319700e+10,-788000000.0,3.399500e+10,7.671000e+09,8.055200e+10,...,1.778820e+11,7.099800e+10,1.183040e+11,1.830070e+11,1.193960e+11,1.106970e+11,2.130000e+09,2.943200e+10,83000000.0,1.096050e+11
MSFT,2021-06-30,12M,USD,1.516300e+10,3.804300e+10,-5.135100e+10,-751000000.0,4.392800e+10,9.629000e+09,8.311100e+10,...,1.920620e+11,6.777500e+10,1.419880e+11,1.917910e+11,1.493730e+11,1.031340e+11,2.174000e+09,2.719000e+10,79000000.0,9.574900e+10
MSFT,2022-06-30,12M,USD,1.900000e+10,4.426100e+10,-5.966000e+10,-633000000.0,5.501400e+10,1.148900e+10,8.693900e+10,...,2.135740e+11,6.127000e+10,1.665420e+11,1.982980e+11,1.951560e+11,1.032160e+11,4.067000e+09,2.606900e+10,82000000.0,7.460200e+10

In [12]:
company.cash_flow()

,asOfDate,periodType,currencyCode,BeginningCashPosition,CapitalExpenditure,CashDividendsPaid,CashFlowFromContinuingFinancingActivities,CashFlowFromContinuingInvestingActivities,CashFlowFromContinuingOperatingActivities,ChangeInAccountPayable,...,NetShortTermDebtIssuance,OperatingCashFlow,OperatingGainsLosses,PurchaseOfBusiness,PurchaseOfInvestment,PurchaseOfPPE,RepaymentOfDebt,RepurchaseOfCapitalStock,SaleOfInvestment,StockBasedCompensation
symbol,,,,,,,,,,,,,,,,,,,,,
MSFT,2019-06-30,12M,USD,1.194600e+10,-1.392500e+10,-1.381100e+10,-3.688700e+10,-1.577300e+10,5.218500e+10,2.320000e+08,...,0.0,5.218500e+10,-7.920000e+08,-2.388000e+09,-5.769700e+10,-1.392500e+10,-4.000000e+09,-1.954300e+10,5.823700e+10,4.652000e+09
MSFT,2020-06-30,12M,USD,1.135600e+10,-1.544100e+10,-1.513700e+10,-4.603100e+10,-1.222300e+10,6.067500e+10,3.018000e+09,...,0.0,6.067500e+10,-2.190000e+08,-2.521000e+09,-7.719000e+10,-1.544100e+10,-5.518000e+09,-2.296800e+10,8.417000e+10,5.289000e+09
MSFT,2021-06-30,12M,USD,1.357600e+10,-2.062200e+10,-1.652100e+10,-4.848600e+10,-2.757700e+10,7.674000e+10,2.798000e+09,...,NaN,7.674000e+10,-1.249000e+09,-8.909000e+09,-6.292400e+10,-2.062200e+10,-3.750000e+09,-2.738500e+10,6.580000e+10,6.118000e+09
MSFT,2022-06-30,12M,USD,1.422400e+10,-2.388600e+10,-1.813500e+10,-5.887600e+10,-3.031100e+10,8.903500e+10,2.943000e+09,...,NaN,8.903500e+10,-4.090000e+08,-2.203800e+10,-2.645600e+10,-2.388600e+10,-9.023000e+09,-3.269600e+10,4.489400e+10,7.502000e+09
MSFT,2022-12-31,TTM,USD,2.060400e+10,-2.476800e+10,-1.896400e+10,-5.284600e+10,-3.618200e+10,8.438600e+10,-4.460000e+08,...,NaN,8.438600e+10,4.540000e+08,-2.101000e+10,-3.025400e+10,-2.476800e+10,-5.947000e+09,-2.861100e+10,4.333000e+10,8.633000e+09
MSFT,2023-03-31,TTM,USD,1.249800e+10,-2.603500e+10,-1.937800e+10,-4.579100e+10,-2.327500e+10,8.344100e+10,-1.373000e+09,...,NaN,8.344100e+10,3.090000e+08,-2.592000e+09,-3.059400e+10,-2.603500e+10,-1.750000e+09,-2.529800e+10,3.993100e+10,9.192000e+09

In [13]:
company.company_officers

            maxAge                          name   age  \
symbol row
MSFT   0         1            Mr. Satya  Nadella  55.0
       1         1     Mr. Bradford L. Smith LCA  63.0
       2         1               Ms. Amy E. Hood  50.0
       3         1           Mr. Judson  Althoff  49.0
       4         1   Mr. Christopher David Young  50.0
       5         1            Ms. Alice L. Jolla  55.0
       6         1         Mr. James Kevin Scott  50.0
       7         1                Brett  Iversen   NaN
       8         1             Mr. Frank X. Shaw   NaN
       9         1  Mr. Christopher C. Capossela  52.0

                                                   title  yearBorn  \
symbol row
MSFT   0                                  Chairman & CEO    1967.0
       1                            Pres & Vice Chairman    1959.0
       2                                  Exec. VP & CFO    1972.0
       3             Exec. VP & Chief Commercial Officer    1973.0
       4    Exec. VP of Bus. Devel., Strategy & Ventures    1972.0
       5             Corp. VP & Chief Accounting Officer    1967.0
       6                            Exec. VP of AI & CTO    1972.0
       7                Gen. Mang. of Investor Relations       NaN
       8               Corp. VP for Corp. Communications       NaN
       9              Exec. VP & Chief Marketing Officer    1970.0

            fiscalYear    totalPay  exercisedValue  unexercisedValue
symbol row
MSFT   0        2022.0  12676750.0               0                 0
       1        2022.0   4655274.0               0                 0
       2        2022.0   4637915.0               0                 0
       3        2022.0   4428268.0               0                 0
       4        2022.0   4588876.0               0                 0
       5           NaN         NaN               0                 0
       6           NaN         NaN               0                 0
       7           NaN         NaN               0                 0
       8           NaN         NaN               0                 0
       9           NaN         NaN               0                 0

In [14]:
company.corporate_events

                        id significance  \
symbol date
MSFT   2013-09-17  2832441            1
       2013-11-20  2872539            3
       2014-03-11  2942626            3
       2014-06-10  3007564            3
       2014-09-16  3069314            1
...                    ...          ...
       2023-01-24  4649139            1
       2023-04-25  4695510            1
       2023-04-25  4695644            1
       2023-04-26  4696423            1
       2023-04-28  4699419            1

                                                            headline  \
symbol date
MSFT   2013-09-17  Microsoft Corp Announces Quarterly Dividend In...
       2013-11-20        Microsoft Corp Declares Quarterly Dividend
       2014-03-11         Microsoft Corp declares quarterly dividend
       2014-06-10         Microsoft Corp declares quarterly dividend
       2014-09-16  Microsoft Corp announces quarterly dividend in...
...                                                              ...
       2023-01-24  Microsoft Sees Q3 Productivity And Business Pr...
       2023-04-25  Microsoft Reports Quarterly Revenue In More Pe...
       2023-04-25  Microsoft Says Sees Q4 Intelligent Cloud Reven...
       2023-04-26  Activision Blizzard Announces First Quarter 20...
       2023-04-28  Meta Is Talking To Microsoft/OpenAI About Doin...

                                                         description  \
symbol date
MSFT   2013-09-17  Microsoft Corp. announced on that its Board of...
       2013-11-20  Microsoft Corp announced that its Board of Dir...
       2014-03-11  Microsoft Corp:Declares quarterly dividend of ...
       2014-06-10  Microsoft Corp:Says that its board declared qu...
       2014-09-16  Microsoft Corp:Says that its board declared qu...
...                                                              ...
       2023-01-24  Jan 24 (Reuters) - Microsoft Corp <MSFT.O>::MI...
       2023-04-25  April 25 (Reuters) - Microsoft Corp <MSFT.O>::...
       2023-04-25  April 25 (Reuters) - Microsoft Corp <MSFT.O>::...
       2023-04-26  April 26 (Reuters) - Activision Blizzard Inc <...
       2023-04-28  April 28 (Reuters) - :META IS TALKING TO MICRO...

                         parentTopics
symbol date
MSFT   2013-09-17         Performance
       2013-11-20         Performance
       2014-03-11         Performance
       2014-06-10         Performance
       2014-09-16         Performance
...                               ...
       2023-01-24  Corporate Guidance
       2023-04-25  Corporate Guidance
       2023-04-25  Corporate Guidance
       2023-04-26  Corporate Guidance
       2023-04-28  Corporate Guidance

[170 rows x 5 columns]

In [15]:
company.corporate_guidance

                        id significance  \
symbol date
MSFT   2014-07-17  3031584            1
       2016-05-24  3380603            1
       2016-06-13  3390319            1
       2016-07-19  3407917            1
       2016-07-19  3407928            1
...                    ...          ...
       2023-01-24  4649139            1
       2023-04-25  4695510            1
       2023-04-25  4695644            1
       2023-04-26  4696423            1
       2023-04-28  4699419            1

                                                            headline  \
symbol date
MSFT   2014-07-17  Microsoft announces steps to simplify organiza...
       2016-05-24  Finland's Kone picks CFO from Microsoft's phon...
       2016-06-13  Microsoft sees $150 mln of cost synergies annu...
       2016-07-19  Microsoft sees negative forex impact of 2 pts ...
       2016-07-19  Microsoft Corp CFO says expect full year opera...
...                                                              ...
       2023-01-24  Microsoft Sees Q3 Productivity And Business Pr...
       2023-04-25  Microsoft Reports Quarterly Revenue In More Pe...
       2023-04-25  Microsoft Says Sees Q4 Intelligent Cloud Reven...
       2023-04-26  Activision Blizzard Announces First Quarter 20...
       2023-04-28  Meta Is Talking To Microsoft/OpenAI About Doin...

                                                         description  \
symbol date
MSFT   2014-07-17  Microsoft Corp:Says restructuring plan to simp...
       2016-05-24  Kone Oyj <KNEBV.HE> : says appoints Ilkka Hara...
       2016-06-13  Microsoft Corp <MSFT.O>: Sees $150 mln of cost...
       2016-07-19  Microsoft Corp <MSFT.O> : Sees negative forex ...
       2016-07-19  Microsoft Corp CFO Hood : In q4 we did see add...
...                                                              ...
       2023-01-24  Jan 24 (Reuters) - Microsoft Corp <MSFT.O>::MI...
       2023-04-25  April 25 (Reuters) - Microsoft Corp <MSFT.O>::...
       2023-04-25  April 25 (Reuters) - Microsoft Corp <MSFT.O>::...
       2023-04-26  April 26 (Reuters) - Activision Blizzard Inc <...
       2023-04-28  April 28 (Reuters) - :META IS TALKING TO MICRO...

                                           parentTopics
symbol date
MSFT   2014-07-17  Restructuring/Reorganization/Related
       2016-05-24                           Performance
       2016-06-13                           Performance
       2016-07-19                    Corporate Guidance
       2016-07-19                    Corporate Guidance
...                                                 ...
       2023-01-24                    Corporate Guidance
       2023-04-25                    Corporate Guidance
       2023-04-25                    Corporate Guidance
       2023-04-26                    Corporate Guidance
       2023-04-28                    Corporate Guidance

[76 rows x 5 columns]

In [16]:
company.earning_history

            maxAge  epsActual  epsEstimate  epsDifference  surprisePercent  \
symbol row
MSFT   0         1       2.23         2.29          -0.06           -0.026
       1         1       2.35         2.30           0.05            0.022
       2         1       2.32         2.29           0.03            0.013
       3         1       2.45         2.23           0.22            0.099

               quarter period
symbol row
MSFT   0    2022-06-30    -4q
       1    2022-09-30    -3q
       2    2022-12-31    -2q
       3    2023-03-31    -1q

In [18]:
company.history()

                                        open        high         low  \
symbol date
MSFT   2023-01-03                 243.080002  245.750000  237.399994
       2023-01-04                 232.279999  232.869995  225.960007
       2023-01-05                 227.199997  227.550003  221.759995
       2023-01-06                 223.000000  225.759995  219.350006
       2023-01-09                 226.449997  231.240005  226.410004
...                                      ...         ...         ...
       2023-06-12                 328.579987  332.100006  325.160004
       2023-06-13                 334.470001  336.980011  330.390015
       2023-06-14                 334.339996  339.040009  332.809998
       2023-06-15                 337.480011  349.839996  337.200012
       2023-06-16 16:00:06-04:00  351.320007  351.320007  341.950012

                                       close    volume    adjclose  dividends
symbol date
MSFT   2023-01-03                 239.580002  25740000  238.460129        0.0
       2023-01-04                 229.100006  50623400  228.029114        0.0
       2023-01-05                 222.309998  39585600  221.270859        0.0
       2023-01-06                 224.929993  43613600  223.878616        0.0
       2023-01-09                 227.119995  27369800  226.058365        0.0
...                                      ...       ...         ...        ...
       2023-06-12                 331.850006  24260300  331.850006        0.0
       2023-06-13                 334.290009  22951300  334.290009        0.0
       2023-06-14                 337.339996  26003800  337.339996        0.0
       2023-06-15                 348.100006  38899100  348.100006        0.0
       2023-06-16 16:00:06-04:00  342.329987  42637960  342.329987        0.0

[115 rows x 7 columns]

In [19]:
company.income_statement()

,asOfDate,periodType,currencyCode,BasicAverageShares,BasicEPS,CostOfRevenue,DilutedAverageShares,DilutedEPS,DilutedNIAvailtoComStockholders,EBIT,...,SpecialIncomeCharges,TaxEffectOfUnusualItems,TaxProvision,TaxRateForCalcs,TotalExpenses,TotalOperatingIncomeAsReported,TotalRevenue,TotalUnusualItems,TotalUnusualItemsExcludingGoodwill,WriteOff
symbol,,,,,,,,,,,,,,,,,,,,,
MSFT,2019-06-30,12M,USD,7.673000e+09,5.11,4.291000e+10,7.753000e+09,5.06,3.924000e+10,4.295900e+10,...,0.0,0.000000e+00,4.448000e+09,0.100000,8.288400e+10,4.295900e+10,1.258430e+11,7.100000e+08,7.100000e+08,NaN
MSFT,2020-06-30,12M,USD,7.610000e+09,5.82,4.607800e+10,7.683000e+09,5.76,4.428100e+10,5.295900e+10,...,NaN,0.000000e+00,8.755000e+09,0.160000,9.005600e+10,5.295900e+10,1.430150e+11,2.800000e+07,2.800000e+07,NaN
MSFT,2021-06-30,12M,USD,7.547000e+09,8.12,5.223200e+10,7.608000e+09,8.05,6.127100e+10,6.991600e+10,...,NaN,0.000000e+00,9.831000e+09,0.138266,9.817200e+10,6.991600e+10,1.680880e+11,1.303000e+09,1.303000e+09,NaN
MSFT,2022-06-30,12M,USD,7.496000e+09,9.70,6.265000e+10,7.540000e+09,9.65,7.273800e+10,8.338300e+10,...,-101000000.0,0.000000e+00,1.097800e+10,0.131134,1.148870e+11,8.338300e+10,1.982700e+11,3.340000e+08,3.340000e+08,101000000.0
MSFT,2022-12-31,TTM,USD,NaN,NaN,6.498400e+10,NaN,NaN,6.744900e+10,8.457700e+10,...,NaN,-1.002692e+08,1.513900e+10,0.183308,1.212790e+11,8.281500e+10,2.040940e+11,-5.470000e+08,-5.470000e+08,NaN
MSFT,2023-03-31,TTM,USD,NaN,NaN,6.549700e+10,NaN,NaN,6.902000e+10,8.705300e+10,...,NaN,-3.886760e+07,1.605100e+10,0.188678,1.227880e+11,8.480300e+10,2.075910e+11,-2.060000e+08,-2.060000e+08,NaN

In [ ]:
#company.news() #> ["error"]

In [21]:
company.option_chain

                                   contractSymbol  strike currency  lastPrice  \
symbol expiration optionType
MSFT   2023-06-23 calls       MSFT230623C00215000   215.0      USD     122.57
                  calls       MSFT230623C00225000   225.0      USD     115.80
                  calls       MSFT230623C00230000   230.0      USD      98.05
                  calls       MSFT230623C00235000   235.0      USD      92.09
                  calls       MSFT230623C00240000   240.0      USD      78.52
...                                           ...     ...      ...        ...
       2025-12-19 puts        MSFT251219P00415000   415.0      USD      82.33
                  puts        MSFT251219P00420000   420.0      USD      99.10
                  puts        MSFT251219P00430000   430.0      USD     133.00
                  puts        MSFT251219P00440000   440.0      USD     122.15
                  puts        MSFT251219P00460000   460.0      USD     150.94

                                 change  percentChange  volume  openInterest  \
symbol expiration optionType
MSFT   2023-06-23 calls        0.000000       0.000000     3.0           3.0
                  calls        0.000000       0.000000     3.0           4.0
                  calls        0.000000       0.000000     1.0          22.0
                  calls        0.000000       0.000000     1.0          35.0
                  calls        0.000000       0.000000     3.0           3.0
...                                 ...            ...     ...           ...
       2025-12-19 puts       -12.939995     -13.582444     1.0           2.0
                  puts         0.000000       0.000000    33.0          33.0
                  puts         0.000000       0.000000     0.0           1.0
                  puts         0.000000       0.000000     1.0           1.0
                  puts         0.000000       0.000000     2.0           0.0

                                 bid     ask contractSize       lastTradeDate  \
symbol expiration optionType
MSFT   2023-06-23 calls       126.00  130.50      REGULAR 2023-06-15 13:38:58
                  calls       116.00  120.30      REGULAR 2023-06-15 13:45:12
                  calls       111.00  115.30      REGULAR 2023-06-09 19:34:33
                  calls       106.00  110.25      REGULAR 2023-06-09 16:54:15
                  calls       101.00  105.10      REGULAR 2023-05-19 13:30:12
...                              ...     ...          ...                 ...
       2025-12-19 puts         82.50   87.00      REGULAR 2023-06-16 18:37:25
                  puts         85.55   90.50      REGULAR 2023-05-25 16:43:57
                  puts        100.35  104.20      REGULAR 2023-04-26 16:58:59
                  puts        100.50  105.00      REGULAR 2023-05-19 13:41:20
                  puts        121.75  125.50      REGULAR 2023-05-15 17:13:05

                              impliedVolatility  inTheMoney
symbol expiration optionType
MSFT   2023-06-23 calls                1.839845        True
                  calls                1.649416        True
                  calls                1.575197        True
                  calls                1.493167        True
                  calls                1.396487        True
...                                         ...         ...
       2025-12-19 puts                 0.171776        True
                  puts                 0.168801        True
                  puts                 0.199562        True
                  puts                 0.153893        True
                  puts                 0.174248        True

[2143 rows x 14 columns]

In [22]:
company.recommendation_trend

           period  strongBuy  buy  hold  sell  strongSell
symbol row
MSFT   0       0m         14   13     6     0           1
       1      -1m         18   26     8     0           1
       2      -2m         18   26     8     0           1
       3      -3m         18   30     3     0           0

In [25]:
company.sec_filings

                  date            epochDate      type  \
symbol row
MSFT   0    2023-05-30  2023-05-30 00:00:00        SD
       1    2023-04-25  2023-04-25 00:00:00       8-K
       2    2023-03-24  2023-03-24 00:00:00      11-K
       3    2023-02-09  2023-02-09 00:00:00  SC 13G/A
       4    2023-01-31  2023-01-31 00:00:00  SC 13G/A
       5    2023-01-24  2023-01-24 00:00:00       8-K
       6    2023-01-18  2023-01-18 00:00:00       8-K
       7    2022-12-16  2022-12-16 00:00:00       8-K
       8    2022-11-21  2022-11-21 00:00:00   PX14A6G
       9    2022-11-04  2022-11-04 00:00:00   PX14A6G
       10   2022-10-27  2022-10-27 00:00:00   DEFA14A
       11   2022-10-25  2022-10-25 00:00:00       8-K
       12   2022-07-28  2022-07-28 00:00:00      10-K
       13   2022-07-26  2022-07-26 00:00:00       8-K
       14   2022-06-23  2022-06-23 00:00:00      11-K
       15   2022-06-02  2022-06-02 00:00:00       8-K
       16   2022-05-31  2022-05-31 00:00:00        SD
       17   2022-04-26  2022-04-26 00:00:00       8-K
       18   2022-03-21  2022-03-21 00:00:00      11-K
       19   2022-02-10  2022-02-10 00:00:00  SC 13G/A
       20   2022-02-08  2022-02-08 00:00:00  SC 13G/A
       21   2022-01-25  2022-01-25 00:00:00      10-Q

                                                        title  \
symbol row
MSFT   0    Specialized Disclosure Report filed pursuant t...
       1                   Corporate Changes & Voting Matters
       2             Annual report of employee stock purchase
       3                     Tender Offer/Acquisition Reports
       4                     Tender Offer/Acquisition Reports
       5                   Corporate Changes & Voting Matters
       6                   Corporate Changes & Voting Matters
       7                   Corporate Changes & Voting Matters
       8                        Notice of exempt solicitation
       9                        Notice of exempt solicitation
       10                                    Proxy Statements
       11                  Corporate Changes & Voting Matters
       12                          Periodic Financial Reports
       13                  Corporate Changes & Voting Matters
       14            Annual report of employee stock purchase
       15                  Corporate Changes & Voting Matters
       16   Specialized Disclosure Report filed pursuant t...
       17                  Corporate Changes & Voting Matters
       18            Annual report of employee stock purchase
       19                    Tender Offer/Acquisition Reports
       20                    Tender Offer/Acquisition Reports
       21                          Periodic Financial Reports

                                                     edgarUrl  \
symbol row
MSFT   0    https://finance.yahoo.com/sec-filing/MSFT/0001...
       1    https://finance.yahoo.com/sec-filing/MSFT/0001...
       2    https://finance.yahoo.com/sec-filing/MSFT/0001...
       3    https://finance.yahoo.com/sec-filing/MSFT/0001...
       4    https://finance.yahoo.com/sec-filing/MSFT/0001...
       5    https://finance.yahoo.com/sec-filing/MSFT/0001...
       6    https://finance.yahoo.com/sec-filing/MSFT/0001...
       7    https://finance.yahoo.com/sec-filing/MSFT/0001...
       8    https://finance.yahoo.com/sec-filing/MSFT/0001...
       9    https://finance.yahoo.com/sec-filing/MSFT/0001...
       10   https://finance.yahoo.com/sec-filing/MSFT/0001...
       11   https://finance.yahoo.com/sec-filing/MSFT/0001...
       12   https://finance.yahoo.com/sec-filing/MSFT/0001...
       13   https://finance.yahoo.com/sec-filing/MSFT/0001...
       14   https://finance.yahoo.com/sec-filing/MSFT/0001...
       15   https://finance.yahoo.com/sec-filing/MSFT/0001...
       16   https://finance.yahoo.com/sec-filing/MSFT/0001...
       17   https://finance.yahoo.com/sec-filing/MSFT/0001...
       18   https://finance.yahoo.com/sec-filing/MSFT/0001...
       19   https://finance.yahoo.com/sec-filing/MSFT/0001...
       20   https://finance.yahoo.com/sec-filing/MSFT/0000...
       21   https://finance.yahoo.com/sec-filing/MSFT/0001...

                                                     exhibits  maxAge
symbol row
MSFT   0    [{'type': 'SD', 'url': 'https://cdn.yahoofinan...       1
       1    [{'type': '8-K', 'url': 'https://cdn.yahoofina...       1
       2    [{'type': 'EX-23.1', 'url': 'https://cdn.yahoo...       1
       3    [{'type': 'SC 13G/A', 'url': 'https://cdn.yaho...       1
       4    [{'type': 'SC 13G/A', 'url': 'https://s3.amazo...       1
       5    [{'type': '8-K', 'url': 'https://cdn.yahoofina...       1
       6    [{'type': 'EX-99.1', 'url': 'https://cdn.yahoo...       1
       7    [{'type': '8-K', 'url': 'https://cdn.yahoofina...       1
       8    [{'type': 'PX14A6G', 'url': 'https://cdn.yahoo...       1
       9    [{'type': 'PX14A6G', 'url': 'https://cdn.yahoo...       1
       10   [{'type': 'DEFA14A', 'url': 'https://cdn.yahoo...       1
       11   [{'type': '8-K', 'url': 'https://cdn.yahoofina...       1
       12   [{'type': 'EXCEL', 'url': 'https://s3.amazonaw...       1
       13   [{'type': '8-K', 'url': 'https://cdn.yahoofina...       1
       14   [{'type': 'EX-23.1', 'url': 'https://cdn.yahoo...       1
       15   [{'type': 'EX-99.1', 'url': 'https://cdn.yahoo...       1
       16   [{'type': 'EX-1.01', 'url': 'https://cdn.yahoo...       1
       17   [{'type': '8-K', 'url': 'https://cdn.yahoofina...       1
       18   [{'type': 'EX-23.1', 'url': 'https://cdn.yahoo...       1
       19   [{'type': 'SC 13G/A', 'url': 'https://cdn.yaho...       1
       20   [{'type': 'SC 13G/A', 'url': 'https://s3.amazo...       1
       21   [{'type': 'EXCEL', 'url': 'https://s3.amazonaw...       1

### Plotting Stock Prices

Looks like the history dataframe has a multi-index, so we'll need to flatten it before charting.

https://pandas.pydata.org/docs/reference/api/pandas.MultiIndex.get_level_values.html

In [43]:
history_df = company.history()
#history_df.index.get_level_values(0)
#history_df.index.get_level_values(1)

history_df["date"] = history_df.index.get_level_values(1)
history_df

                                        open        high         low  \
symbol date
MSFT   2023-01-03                 243.080002  245.750000  237.399994
       2023-01-04                 232.279999  232.869995  225.960007
       2023-01-05                 227.199997  227.550003  221.759995
       2023-01-06                 223.000000  225.759995  219.350006
       2023-01-09                 226.449997  231.240005  226.410004
...                                      ...         ...         ...
       2023-06-12                 328.579987  332.100006  325.160004
       2023-06-13                 334.470001  336.980011  330.390015
       2023-06-14                 334.339996  339.040009  332.809998
       2023-06-15                 337.480011  349.839996  337.200012
       2023-06-16 16:00:06-04:00  351.320007  351.320007  341.950012

                                       close    volume    adjclose  dividends  \
symbol date
MSFT   2023-01-03                 239.580002  25740000  238.460144        0.0
       2023-01-04                 229.100006  50623400  228.029129        0.0
       2023-01-05                 222.309998  39585600  221.270844        0.0
       2023-01-06                 224.929993  43613600  223.878601        0.0
       2023-01-09                 227.119995  27369800  226.058380        0.0
...                                      ...       ...         ...        ...
       2023-06-12                 331.850006  24260300  331.850006        0.0
       2023-06-13                 334.290009  22951300  334.290009        0.0
       2023-06-14                 337.339996  26003800  337.339996        0.0
       2023-06-15                 348.100006  38899100  348.100006        0.0
       2023-06-16 16:00:06-04:00  342.329987  42637960  342.329987        0.0

                                                      date
symbol date
MSFT   2023-01-03                2023-01-02 19:00:00-05:00
       2023-01-04                2023-01-03 19:00:00-05:00
       2023-01-05                2023-01-04 19:00:00-05:00
       2023-01-06                2023-01-05 19:00:00-05:00
       2023-01-09                2023-01-08 19:00:00-05:00
...                                                    ...
       2023-06-12                2023-06-11 20:00:00-04:00
       2023-06-13                2023-06-12 20:00:00-04:00
       2023-06-14                2023-06-13 20:00:00-04:00
       2023-06-15                2023-06-14 20:00:00-04:00
       2023-06-16 16:00:06-04:00 2023-06-16 16:00:06-04:00

[115 rows x 8 columns]

In [44]:
import plotly.express as px

px.line(history_df, x="date", y="adjclose", title=f"Adjusted Closing Prices for {symbol}")